body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

h1 {
    color: #192b59;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: -2.4px;
    max-width: 540px;
    margin-bottom: 67px;
}

a {
    text-decoration: none;
}

.title-h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1.5px;
    max-width: 500px;
    margin: 0 auto;
}

.title-h2>span {
    display: block;
    padding-bottom: 8px;
    color: #1085e4;
    font-size: 16px;
    font-weight: 800;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.wrap {
    max-width: 1100px;
    margin: 0 auto;
}


.btn-primary {
    background-color: #1085e4;
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 24px 40px;
    border: #1085e4 1px solid;
    letter-spacing: 2.4px;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}


.btn-secondary {
    background-color: #cbdbe8;
    font-size: 12px;
    color: #7e8bae;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 20px 30px;
    letter-spacing: 2.4px;
    border: 1px solid #7e8bae;
    padding: 24px 40px;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    color: white;
    font-weight: 400;
    padding: 25px 57px;
}

.btn-info {
    color: #8085b1;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #f5faff;
    padding: 25px 65px;
}

/* page-header***********************************************/

.page-header {
    position: relative;
    padding-top: 75px;
    padding-bottom: 200px;
    background-image: url(/img/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 100px;
}

.page-logo {
    padding-top: 20px;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav>li {
    padding: 0 20px;
}

.nav>li:last-child {
    padding-right: 0;
}

.nav-item {
    color: #6e7ea9;
}

.button-menu {
    border: none;
    background-color: transparent;
    display: none;
}

.button-menu:focus {
    outline: none;
}

.button-menu svg {
    width: 35px;
    height: 35px;
    fill: #0d162e;
}

.top-title {
    position: absolute;
    right: 0px;
    top: 70px;
    margin-top: 110px;
    background-image: url(/img/bg-right-img.png);
    background-repeat: no-repeat;
    width: 674px;
    height: 498px;
}

.btn-group a+a {
    margin-left: 20px;
}


.company {
    background-color: #1085e4;
    background-image: url(/img/bg-blue.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.company ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    margin: 0;
    padding: 116px 0 111px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    margin-top: 120px;
    margin-bottom: 120px;
    grid-template-areas: "a b c"
        "d b c"
        "d f g"
        "e f g"
        "e h h";
    max-width: 1110px;
    margin: 0 auto;
    grid-gap: 30px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
    padding-left: 20px;
    padding-right: 5px;
}


.grid h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #192b59;
    letter-spacing: -1.2px;
}

.grid h2 span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 90px;
    text-transform: uppercase;
    color: #1085e4;
    letter-spacing: 2.8px;
}


.grid-item {
    -webkit-box-shadow: 0 0 5px #b4a6a6;
    box-shadow: 0 0 5px #b4a6a6;
    text-align: center;
    padding-bottom: 69px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 45px;
}

.grid-item h3 {
    color: #192b59;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.6px;
    margin-bottom: 25px;
}

.grid-item a {
    height: 12px;
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
}

.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 38px auto;

}

.grid-icon1 {
    background-image: url(../img/icon1.png);
    width: 73px;
    height: 79px;
}

.grid-icon2 {
    background-image: url(../img/icon2.png);
    width: 73px;
    height: 79px;
}

.grid-icon3 {
    background-image: url(../img/icon3.png);
    width: 89px;
    height: 85px;
}

.grid-icon4 {
    background-image: url(../img/icon4.png);
    width: 103px;
    height: 92px;
}

.grid-icon5 {
    background-image: url(../img/icon5.png);
    width: 85px;
    height: 90px;
}

.grid-icon6 {
    background-image: url(../img/icon6.png);
    width: 100px;
    height: 87px;
}

.grid-text-founder {
    color: #1085e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.grid-text-founder span {
    font-size: 16px;
    font-weight: 700;
    color: #7581a1;
}

/* page-subscribe******************************************/

.page-subscribe {
    background-color: #12224b;
    background-image: linear-gradient(-240deg, #0d162e 0%, #1085e4 100%);
}

.box-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 119px;
    padding-bottom: 52px;
}

.box-subscribe h2 {
    color: #ffffff;
    margin-left: -4px;
}

.box-subscribe p {
    padding-top: 32px;
    padding-bottom: 39px;
    max-width: 400px;
    color: #dfe8ff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-left: -4px;
}

.box-subscribe-user {
    position: relative;
}

.box-subscribe-user input[type="email"] {
    width: 540px;
    height: 70px;
    border-radius: 35px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: #12224b;
    outline: none;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 220px;
    border: 2px solid;
    -webkit-box-shadow: 3px 3px 15px 5px #12224b;
    box-shadow: 3px 3px 15px 5px #12224b;
}

.box-subscribe-user input[type="submit"] {
    position: absolute;
    width: 190px;
    height: 50px;
    border-radius: 25px;
    background-color: #1085e4;
    top: 10px;
    right: 10px;
    outline: none;
}


/* page-software*******************************************/

.page-software {
    background-image: url(../img/software-fon.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-x: left;
    background-position-y: bottom;

}

.page-software-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.page-software-flex>div {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    padding: 48px 0 20px 0;
}

.page-software .title-h2 {
    max-width: 537px;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: -10px;
}

.page-software-list {
    margin-top: 38px;
    height: 340px;
    overflow: hidden;
    overflow-y: scroll;
}

.page-software-list dt {
    color: #5a6789;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
}

.page-software-list dd {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 0;
    margin-bottom: 50px;
}

.page-software-list::-webkit-scrollbar {
    width: 4px;
    height: 314px;
    background-color: #f3f6ff;
}

.page-software-list::-webkit-scrollbar-track {
    background-color: #f3f6ff;
    ;
}

.page-software-list::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

.page-software-list::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #1085e4;
    border-radius: 4px;
}

.page-software-icon {
    display: block;
    background-image: url(../img/software-icon.png);
    width: 115px;
    height: 97px;
    background-repeat: no-repeat;
    margin-left: -25px;
}

/* page-stat*********************************************/

.page-stat {
    position: relative;
    background-color: #edf6ff;
    padding: 120px 0 56px 0;
    background-image: url('img\bg-stat.png');
}


.list-stat {
    margin: auto;
    margin-top: 79px;
    margin-bottom: 117px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.list-stat>li {
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #1085e4;
    font-weight: 700;
}

.list-stat>li>span {
    margin-bottom: 20px;
    display: block;
    color: #bacbdc;
    font-size: 60px;
    letter-spacing: -1.8px;
}

.page-stat .title-h2 {
    text-align: center;
}

/* page-app ***********************************************/

.page-app {
    position: relative;
    background: url(../img/Intro.png) no-repeat 39% top, url(../img/circle.png) no-repeat -50% 80%;
}

.page-app-text {
    color: #c4d2dd;
    font-size: 16px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    margin-top: 37px;
    margin-bottom: 30px;
}

.page-app-list {
    padding: 0;
    margin-left: -17px;
    list-style-type: none;
    padding-bottom: 121px;
}

.page-app-list>li>a {
    background-image: url(../img/sprite-app.png);
    background-repeat: no-repeat;
    display: block;
    width: 185px;
    height: 78px;
}

.page-app-list>li {
    display: inline-block;
}


.page-app-android {
    background-position: 0 0;
}

.page-app-ios {
    background-position: -191px;
}

.content-app {
    width: 55%;
}

.content-app .title-h2 {
    margin-top: 122px;
    margin-left: -7px;
    margin-bottom: 41px;
}

.video-app {
    position: absolute;
    top: -20px;
    right: 100px;
}

/* page-analytics******************************************* */

.page-analytics {
    background-image: url(../img/page-analistics-fon.png);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #edf6ff;
    padding: 117px 0 137px 0;
}


.page-analistics-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 1;

}

.page-analistics-content {
    -ms-flex-preferred-size: 650px;
    flex-basis: 650px;
}

.page-analistics-content h2 {
    margin-top: 31px;
    margin-bottom: 42px;
    margin-left: -7px;
}

.page-analistics-content p {
    width: 598px;
    height: 95px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 38px;
}

/* page-analystics*******************************************/

.page-analystics-2 {
    background-image: url(../img/page-analistics-fon-2.png);
    background-repeat: no-repeat;
    background-position: 120% center;
    padding: 117px 0 137px 0;
}

.page-analistics-2-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.page-analistics-2-content {
    -ms-flex-preferred-size: 600px;
    flex-basis: 600px;
}

.page-analistics-2-content h2 {
    margin-left: -7px;
    margin-top: 42px;
    margin-bottom: 31px;
}

.page-analistics-2-content p {
    width: 598px;
    height: 95px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 58px;
}

/* page-screen********************************************/

.page-screen {
    text-align: center;
    margin: 0 auto;
    background-color: #edf6ff;
    padding: 120px 0 0 0;
    margin-bottom: 120px;
}


.page-screen h2 {
    font-size: 40px;
    max-width: 600px;

}

.screen {
    width: 1288px;
    height: 490px;
    margin-top: 70px;
    margin-bottom: -7px;
}

/* page-clients***********************************************/

.page-clients {
    background-image: url(../img/testimonials-fon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 0 137px 0;
}

.page-clients span {
    color: #85c8ff;
    padding-left: 12px;
}

.page-clients h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1.2px;
    padding-bottom: 20px;
    padding-left: 12px;
    display: inline-block;
    text-align: left;
}

.box-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.box-clients-item {
    display: inline-block;
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    -webkit-box-shadow: 0 16px 32px rgba(185, 185, 185, 0.2);
    box-shadow: 0 16px 32px rgba(185, 185, 185, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-clients-item .box-clients-text {
    margin: 15px auto;
    color: #8085b1;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.box-clients-item .name {
    color: #000958;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.66px;
    padding: 0;
    margin: 0;
}

.box-clients-item .position {
    color: #1085e4;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    padding: 0;
    margin: 0;
    margin-top: -15px;
}

.box-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.avatar {
    padding-right: 20px;
}

/* page-plan********************************************** */

.page-plan h2 {
    text-align: center;
}

.box-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 81px;
    margin-bottom: 120px;
}

.box-price-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    background-color: #f5faff;
    text-align: center;
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    height: 623px;
    ;
}

.box-price-item::before {
    position: absolute;
    content: "";
    width: 0;
    height: 563px;
    border: 30px solid #95bfe056;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    top: 0px;
    right: 0;
}


.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -2.1px;
}

.box-price-item:first-child h3 {
    margin-bottom: 95px;
}

.box-price-item h3 span {
    color: #7b8ab2;
    font-size: 20px;
    letter-spacing: -0.6px;
}

.box-price-item p {
    color: #0084ff;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}


.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 30px;
}

.box-price-item li {
    color: #8085b1;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
}

.box-price-item.active {
    background-color: #192b59;

}

.box-price-item.active li {
    color: #fff;
    font-weight: 400;
}

/* page-team************************************************* */

.page-team {
    background-image: url(../img/page-team-fon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0;
}

.page-team h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
}

.page-team span {
    color: #85c8ff;
    padding-left: 12px;
}

.box-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 52px;
    margin-top: 120px;
}

.box-team-item {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    -webkit-box-shadow: 0 8px 10px rgba(156, 156, 156, 0.1);
    box-shadow: 0 8px 10px rgba(156, 156, 156, 0.1);
    background-color: #fff;
    position: relative;
    padding: 180px 0 80px 0;

}


.box-team-item .position {
    color: #1a88e1;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-bottom: 0;
}

.box-team-item .name {
    color: #192b59;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.78px;
    margin-top: 0;
}

.box-team-item .avatar {
    position: absolute;
    top: -86px;
    left: 25px;
    right: 0;
    margin: 0 auto;
}

.box-team-item .btn-more {
    display: block;
    background-image: url(../img/btn-more.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    margin: 0 auto;
    border-radius: 50%;
}

.box-team-item .btn-more:focus {
    outline: none;
}

/* page-form************************************************ */

.page-form {
    background-image: url(../img/bg-form.png);
    background-size: 120%;
    background-repeat: no-repeat;
    padding: 120px 0 80px 0;
}

.page-form h2 {
    padding-bottom: 59px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}


.contact-form textarea {
    width: 514px;
    height: 160px;
    padding-bottom: 40px;
    resize: none;
}

.contact-form input,
.contact-form textarea {
    border-radius: 35px;
    border: 2px solid rgba(72, 72, 72, 0.1);
    background-color: #ffffff;
    font-size: 14px;
    padding: 15px 80px 25px 37px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.contact-form-item {
    margin-bottom: 20px;
    position: relative;
}

.contact-form-item::after {
    content: "";
    display: block;
    position: absolute;
    right: 40px;
    color: #8995b3;
}

.contact-form-name::after {
    background-image: url(../img/icon-name.png);
    top: calc(50% - 6.5px);
    width: 13px;
    height: 15px;
}

.contact-form-email::after {
    background-image: url(../img/icon-email.png);
    top: calc(50% - 7px);
    width: 14px;
    height: 11px;
}

.contact-form-text::after {
    background-image: url(../img/icon-pen.png);
    top: 17px;
    width: 14px;
    height: 15px;
}

.contact-form .btn-primary {
    position: relative;
    width: 230px;
}


.contact-form .btn-primary::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/send-message-button.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: 25px;
}

.flex-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 20px;
}

.flex-form > div {
    flex-basis: 53%;
}

.flex-form img {
    padding-right: 160px;
}

/* footer ******************************************************* */

.footer {
    background-color: #192b59;
}

.footer p {
    color: #b6bae0;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.footer p a {
    color: #1085e4;
    text-transform: uppercase;
}

.footer li a:hover {
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    }



.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer ul {
    display: flex;
    align-items: center;
}

.footer li {
    list-style: none;
    padding-right: 35px;
}

.social img {
   width: 15px;
   height: 15px;
}






/* СТИЛИЗАЦИЯ ПЛЭЙСХОЛДЕРА ******************************************** */

.box-subscribe input[placeholder="Enter your email address"] {
    padding-left: 41px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.box-subscribe-user input::-webkit-input-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input::-moz-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input:-moz-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input:-ms-input-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.box-subscribe-user input::-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.box-subscribe-user input:-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.box-subscribe-user input:-ms-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.box-subscribe-user input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.box-subscribe-user input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.box-subscribe-user input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.box-subscribe-user input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

/* СТИЛИЗАЦИЯ ПЛЭЙСХОЛДЕРА ******************************************** */


/* MEDIA---------------------------------------------------------- */

@media (max-width:1090px) {
    .nav {
        display: none;
    }

    .button-menu {
        display: block;
    }
}